/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.debug{
  border: 1px solid red;
}

/* Palette */
/* Sfondo
/* verde nav sfondo = #159588;
/* bianco nav sfondo = #dbdbd4;
/* App
/* grigio nav sfondo = #e7e7e7;
/* grigio icone nav = #a8a8a8;
/* azzurro row notifiche = #a8a8a8;
/* bianco sfondo row cerca = #f9f9f9;
/* grigio sfondo row utente attivo = #e6e8e8;
/* beige sfondo row footer msg = #f1ebe7;
/* verde sfondo msg = #cff8b1;
*/

/* General */
.avatar{
  width: 50px;
  border-radius: 50%;
}
.icons{
  font-size: 25px;
  color: #a8a8a8;
  margin: 10px;
}

.container-fluid{
  background-color: #dbdbd4;
}
.container{
  width: 80%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}
    
.aside{
  width: calc(100%/2);
  height: 90vh;
}
.row{
  width: 100%;
  height: 70px;
  border: 1px solid blue;
} 
.row.header{
  height: 70px;
  background-color: #e7e7e7;
}
.nav{
  justify-content: space-between;
  padding: 0 15px;
}
/* Main */
.main{
  width: calc(100%/2);
  height: 90vh;
  background-image: url(/img/mine.jpg);
}