/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.debug{
  border: 1px solid red;
}

/* Palette */
/* Sfondo
/* verde nav sfondo = #159588;
/* bianco nav sfondo = #dbdbd4;
/* App
/* grigio nav sfondo = #e7e7e7;
/* grigio icone nav = #a8a8a8;
/* azzurro row notifiche = #83d5fc;
/* bianco sfondo row cerca = #f9f9f9;
/* grigio sfondo row utente attivo = #e6e8e8;
/* beige sfondo row footer msg = #f1ebe7;
/* verde sfondo msg = #cff8b1;
*/

/* General */
.avatar{
  width: 50px;
  border-radius: 50%;
}
.icons{
  color: #a8a8a8;
  margin: 10px;
}
.icon-size{
   font-size: 150%;
   cursor: pointer;
}

.container-fluid{
  background-color: #dbdbd4;
   padding: 0;
}
.header-color{ 
  height: 150px;
  background-color: #159588;
  z-index: -1;
}
.container{
  margin-top: -120px;
  padding: 0;
  height: calc(100vh - 30px);
  display: flex;
  flex-flow: row nowrap;
}
/* Aside */
.aside{
  width: calc(100%/2);
  height: 95vh;
  overflow-y: auto;
  padding:0;
  position: relative;
  background-color: #ffffff;
}
.row{
  margin: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
  font-weight: 600;
} 
/* Header */
.header{
  background-color: #e7e7e7;
}
.nav{
  justify-content: space-between;
}
.notifiche{
  background-color: #83d5fc;
  font-size: 12px;
}
.bell{
  border: 1px solid white;
  background: #fff;
  border-radius: 50%;
  color: #83d5fc;
  font-size: 25px;
  padding: 5px;
  margin: 0 auto;
}
.search{
  background-color: #f9f9f9;
  font-size: 12px;
}
.userTitle{
  font-weight: 600;
}
.subtitle{
  font-size: 12px;
  font-weight: 300px;
}
.hours{
  font-size: 12px;
  font-weight: 300px;
}
.list-group li:hover{
  background-color: #e9ebeb;
  cursor: pointer;
}
.userActive{
  background-color: #cdcdcd;
}
/* Main */
.main{
  width: calc(100%/2);
  height: 95vh;
  background-image: url(/img/mine.jpg);
  position: relative;
}
.messageListGroup{
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  padding: 20px;
}
.box{
  width: calc(90%/2);
  min-height: 70px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.sent{
  background-color: #cff8b1;
  margin-left: 50%;
}
.recived{
  background-color: #ffffff;
  margin-left: 0;
}
.messageText{
  display: block;
  font-size: 16px;
  font-weight: 500;  
  margin: 10px;
}
.messageHours{
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  display: block;
}
.dropmenu{
  position: absolute;
  top: 0px;
  right: 0px;
  color: #ffffff;
}
.dropmenu .fa-angle-down{
  color: #acc0bc;
  padding: 10px;
}

.dropmenu .fa-angle-down:hover{
  padding: 10px;
  background-color: #a8a8a8;
  color: #ffffff;
  border-radius: 50%;
}
.dropmenu ul li{
  list-style: none;
}
.footer{
  position: absolute;
  background-color: #f1ebe7;
  bottom: 0;
}